aws_access_key: "your_aws_access_key"
aws_secret_key: "your_aws_secret_key"
region: "ap-southeast-1"
cluster_name: "your-aws-eks-cluster"
kubectl_version: "v1.29.1"
policy_name: ""
acm_arn: "your_aws_acm_arn"